@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* General and defaulting */
* {
    margin: 0;
    font-family: Roboto, Arial, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

button {
    font-family: Roboto, Arial, sans-serif;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    color: #E5E7EB;
    cursor: pointer;
    padding: 8px 16px;
  }

  .text {
    font-size: 18px;
  }

/* Header and footer */
.header, .footer {
    background-color: #1F2937;
    padding: 40px 260px;
}

.nav {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
}

.nav .links {
    display: flex;
    gap: 20px;
    margin-left: auto;
    font-size: 18px;
    color: #E5E7EB;
}

.nav .logo {
    font-size: 24px;
    font-weight: 600;
    color: #F9FAF8;
}

.header-contents {
    display: flex;
    padding: 100px 0px;
    gap: 20px;
}

.header-contents .text h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.header-contents .text {
    font-size: 18px;
    color: #E5E7EB;
    width: 500px;
}

.header-contents .text button {
    background-color: #3882F6;
    margin-top: 30px;
}

.header-contents .image-box {
    margin-left: auto;
}

/* Information */
h2 {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 60px 0px;
}

.card-block {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin: 60px 0px 120px 0px;
}

.card {
    max-width: 200px;
}

.card img {
  width: 200px;
  height: 200px;
  border-radius: 25px;
  margin-bottom: 20px;
}

.card .text {
    text-align: center;
}

/* Quote block */
.quote-block {
    margin: 120px 0px;
    padding: 200px 260px;
    background-color: #E5E7EB;
}

.quote-block .quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote-block .source {
    font-size: 26px;
    font-weight: 600;
    text-align: right;
}

/* Modal */
.modal-box {
    display: flex;
    justify-content: center;
    margin: 120px 0px;
}

.modal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 700px;
    gap: 30px;
    background-color: #3882F6;
    padding: 50px;
    border-radius: 25px;
}

.modal .modal-title {
    font-size: 26px;
    font-weight: 600;
    color: #F9FAF8;
}

.modal .text {
    color: #E5E7EB;
}

.modal button {
    border-style: solid;
    color: #F9FAF8;
    border-color: #E5E7EB;
    background-color: #3882F6;
}